<%- include('partials/header'); -%>

  <h1>Home</h1>
  <p> <%= startingContent %> </p>
  <% posts.forEach(function(post) { %>
    <h1> <%=post.title%> </h1>
    <h6>(<%= post.date %>)</h6>
    <% let end = ""; %>
    <% if(post.content.length > 100) { %>
      <%end = "...";%>
    <% } console.log(post._id);%>
    <p> <%= post.content.slice(0,100) + end %> <a href="/posts/<%= post._id %>">Read me</a></p>
  <% }); %>
<%- include('partials/footer'); -%>
